@page "/simpleimage"
@using OpenAI;
@using OpenAI.Images;
@using OpenAI.Models;
@inject IConfiguration _configuration
<PageTitle>Simple Image</PageTitle>

<h1>Describe the desired image</h1>
<input class="form-control" type="text"
       @bind="prompt" />
<br />
<button class="btn btn-primary"
        @onclick="CallService">
    Call The Service
</button>
<br />
<br />
<h4>Response:</h4>
<br />
<p>@response</p>
<p>@((MarkupString)ImageResponse)</p>
@code {
    string Organization = "";
    string ApiKey = "";
    string prompt = "";
    string response = "";
    string ImageResponse = "";
    protected override void OnInitialized()
    {
        Organization = _configuration["OpenAIServiceOptions:Organization"] ?? "";
        ApiKey = _configuration["OpenAIServiceOptions:ApiKey"] ?? "";

        prompt = "Pixar style 3D render of a cat ";
        prompt = prompt + "riding a horse holding a flag, 4k, ";
        prompt = prompt + "high resolution, trending in artstation";
    }

    async Task CallService()
    {
        response = "Calling service...";

        var api = new OpenAIClient(new OpenAIAuthentication(ApiKey, Organization));

        var results = await api.ImagesEndPoint.GenerateImageAsync(prompt, 2, ImageSize.Small);


        if (results.Count > 0)
        {
            response = "";

            foreach (var image in results)
            {
                ImageResponse += $@"<img src=""{image}"" />&nbsp;&nbsp;";
            }
        }
        else
        {
            response = "Unknown Error";
        }
    }
}